* {
    margin: 0;
    padding: 0;
    font-family: 'Baloo Chettan 2', sans-serif;
}

p{
    font-size: 17px;
}

.imgbox {
    display: grid;
    height: 100%;
}

.content{
    display: flex;
    justify-content: center;
}

.headingProfile{
    font-size: 50px;
    padding: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    padding: 20px;
    margin: 10px 0;
    background-color: #1c81c1;
    color: #FFFFFF;
    font-size: 19px;
    transition: all .2s ease-in-out;
}

.menu:hover{
    background-color: #2d2d2d;
    color: #1c81c1;
    font-size: 19px;
    transform: scale(0.96); 
}

.menuHovered{
    background-color: #2d2d2d;
    color: #1c81c1;
    font-size: 19px;
    transform: scale(0.96); 
}

.langTable{
    transition: all .2s ease-in-out;
    padding: 2px;
    margin: 2px;
}

.langTable:hover{
    transform: scale(1.15); 
}


.headingTitle{
    width: 100%;
    height: 1000px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.headingText h1{
    color: white;
    text-align: center;
    font-size: 50px;

}

hr{
    border: 1px solid grey;
    opacity: 0.5;
}

.meimg{
    border: 3px solid #1c81c1;
    border-radius: 50%; 
    width:80%;
    padding: 5px;

}

h2{
    color: #1c81c1;
    font-family: 'Alegreya Sans SC', sans-serif;
}

.headingProfile h1{
    color: #1c81c1;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 50px;

}

.dropHeadingClicker{
    width: 150px;
     height: 70px; 
     background-color: #1c81c1; 
     margin-left: 20%; 
     position: absolute;
     bottom: 0;
}

.lockOn{
    animation: MoveUpDown 0.95s linear infinite;
    position: absolute;
    left: 55px;
    bottom: 0;
}

@keyframes MoveUpDown {
    0%, 100% {
      bottom: 0;
    }
    50% {
      bottom: 15px;
    }
  }
  

h4{
    color: #27ddd8;
    font-family: 'Alegreya Sans SC', sans-serif;
    
}

h5{
    color: #27ddd8;
    font-family: 'Alegreya Sans SC', sans-serif;
    
}

.contactHead h1{
    margin-top: 20px;
    color: #153f70;  
    font-family: 'Alegreya Sans SC', sans-serif;
}

body { 
    height: 100%;
    margin:0px;
    background: url(../img/linkbotw.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

.content > div {
    text-align: center;
    background-color: #2d2d2d;
    color: white;
    width: 100%;
}

.centeredText {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

